<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>

<style>
.div-father{_text-align:center; background-color:#f6f9fc; padding-top: 10px;}
.div-child{width:600px;margin:0 auto; _text-align:left;}
</style>
<body class="div-father">
    <div class="div-child">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="inputLotteryData-tab" data-toggle="tab" href="#inputLotteryData" role="tab" aria-controls="inputLotteryData" aria-selected="true">匯入抽獎資料</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="admissionLottery-tab" data-toggle="tab" href="#admissionLottery" role="tab" aria-controls="admission" aria-selected="false">正取結果</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="waitingLottery-tab" data-toggle="tab" href="#waitingLottery" role="tab" aria-controls="waitingLottery" aria-selected="false">備取結果</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="inputLotteryData" role="tabpanel" aria-labelledby="inputLotteryData-tab">
                <div id="app" style="padding-top: 10px;">
                    <div class="input-group mb-3">
                        <input multiple type="file" @change="fileChange" class="form-control" placeholder="選取檔案" aria-label="Recipient's username" aria-describedby="button-addon">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon" @click="upload">上傳檔案</button>
                        </div>
                    </div>
                </div>

                <div id="excelTable">
                    <v-table
                            is-vertical-resize
                            style="width:100%"
                            is-horizontal-resize
                            :is-loading="isLoading"
                            :vertical-resize-offset='5'
                            :min-height='200'
                            :columns="columns"
                            :table-data="tableData"
                            row-hover-color="#eee"
                            row-click-color="#edf7ff"
                    ></v-table>
                    <div class="input-group mb-3" style="padding-top: 10px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">中獎人數</span>
                        </div>
                        <input type="tel" v-model="lotteryNumber" class="form-control" onkeyup="value = this.value.replace(/[^0-9\-]/g, '')">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">備取人數</span>
                        </div>
                        <input type="tel" v-model="waitingNumber" class="form-control" onkeyup="value = this.value.replace(/[^0-9\-]/g, '')">
                    </div>
                    <input type="button" class="btn btn-primary" value="抽獎" @click="sendLottery"/>
                </div>
            </div>
            <div class="tab-pane fade" id="admissionLottery" role="tabpanel" aria-labelledby="admissionLottery-tab">
                <div id="admissionsTable">
                    <v-table
                            :columns="columns"
                            :table-data="tableData"
                            row-hover-color="#eee"
                            row-click-color="#edf7ff"
                    ></v-table>
                    <br>
                    <button class="btn btn-primary" @click="exportExcel">匯出</button>
                </div>
            </div>
            <div class="tab-pane fade" id="waitingLottery" role="tabpanel" aria-labelledby="waitingLottery-tab">
                <div id="waitingsTable">
                    <v-table
                            :columns="columns"
                            :table-data="tableData"
                            row-hover-color="#eee"
                            row-click-color="#edf7ff"
                    ></v-table>
                    <br>
                    <button class="btn btn-primary" @click="exportExcel">匯出</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
  var app = new Vue({
      el: '#app',
      data: {
        formData: ''
      },
      methods: {
        fileChange(e) {
           this.formData = new FormData()
           this.formData.append('file', e.target.files[0])
        },
        upload() {
          loading()
          axios.post('/api/excel/upload?timestamp=' + new Date().getTime(), this.formData)
            .then((result) => { renderTable(result.data) })
            .catch((err) => { console.error(err) })
        }
      }
  })
</script>

<script>
var table = new Vue({
      el: '#excelTable',
      data: function() {
            return {
                isLoading: false,
                tableData: null,
                columns: [
                    {field: 'custome', title:'流水號', width: 100, titleAlign: 'center', columnAlign: 'center',
                        formatter: function (rowData,rowIndex,pagingIndex,field) {
                            return rowIndex + 1
                        }, isResize:true
                    },
                    {field:'id', title:'編號', width:250, titleAlign:'center', columnAlign:'center', isResize:true},
                    {field:'name', title:'姓名', width:250, titleAlign:'center', columnAlign:'center', isResize:true}
                ],
                lotteryNumber : 0,
                waitingNumber : 0
            }
        },

      methods : {
        sendLottery : function() {
            axios.post('/api/lottery?timestamp=' + new Date().getTime() + '&lotteryNumber=' + this.lotteryNumber + '&waitingNumber=' + this.waitingNumber, table.tableData)
            .then((result) => { renderLotteryTable(result.data) })
            .catch((err) => { console.error(err) })
        }
      }
})

function loading() {
  table.isLoading = true;
}

function renderTable(resultData) {
  table.tableData = resultData;
  table.isLoading = false;
}

var admissionTable = new Vue({
    el: '#admissionsTable',
    data: function() {
            return {
                tableData: null,
                columns: [
                    {field: 'custome', title:'流水號', width: 100, titleAlign: 'center', columnAlign: 'center',
                        formatter: function (rowData,rowIndex,pagingIndex,field) {
                            return rowIndex + 1
                        }, isFrozen: true, isResize:true
                    },
                    {field:'id', title:'編號', width:250, titleAlign:'center', columnAlign:'center', isResize:true},
                    {field:'name', title:'姓名', width:250, titleAlign:'center', columnAlign:'center', isResize:true}
                ]
            }
        },
    methods : {
      exportExcel() {
        downloadExcel("正取", admissionTable.tableData);
      }
    }
})

var waitingTable = new Vue({
    el: '#waitingsTable',
    data: function() {
            return {
                isLoading: false,
                tableData: null,
                columns: [
                    {field: 'custome', title:'流水號', width: 100, titleAlign: 'center', columnAlign: 'center',
                        formatter: function (rowData,rowIndex,pagingIndex,field) {
                            return rowIndex + 1
                        }, isResize:true
                    },
                    {field:'id', title:'編號', width:250, titleAlign:'center', columnAlign:'center', isResize:true},
                    {field:'name', title:'姓名', width:250, titleAlign:'center', columnAlign:'center', isResize:true}
                ]
            }
        },
    methods : {
      exportExcel() {
        downloadExcel("備取", waitingTable.tableData);
      }
    }
})

function renderLotteryTable(resultData) {
    admissionTable.tableData = resultData.admissions;
    waitingTable.tableData = resultData.waitings;
}

function downloadExcel(filename, tableData) {
  axios.post('api/excel/download?timestamp=' + new Date().getTime(), tableData, { responseType: 'arraybuffer'})
       .then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', filename + '.xlsx');
         document.body.appendChild(link);
         link.click();
       })
       .catch((err) => { console.error(err) })
}
</script>

</html>